.header {
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    background-color: #282c34;
    color: #F9F9F9;
}

.logo {
    width: 100px;
    height: 100px;
}

h1 {
    font-size: 38px;
    align-self: center;
    letter-spacing: 2px;
    margin: 0;
    flex-grow: 1;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 10px 5px !important;
        align-items: center;
    }
    h1 {
        font-size: 30px;
    }
}