.header {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 80px;
    padding: 15px 40px;
    background-color: #282c34;
    color: #F9F9F9;
    grid-area: header;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
}

h1 {
    font-size: 38px;
    letter-spacing: 2px;
    margin: 0;
}

.logo {
    max-width: 100%;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 10px !important;
        grid-template-columns: 80px auto !important;
    }
    h1 {
        font-size: 23px;
    }
}