.layered_navigation {
    float: left;
    width: 15%;
    padding: 25px;
}

.box_shadow {
    -webkit-box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
    -moz-box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
    box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
}

h1, h2, h3 {
    margin: 0;
}

h3 {
    margin-bottom: 15px;
}

.splitter {
    border: 2px solid #A9A9A9;
    margin: 20px 0;
    border-radius: 5px;
}

.label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.2;
}

.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.label:hover input ~ .checkmark {
    background-color: #ccc;
}

.label input:checked ~ .checkmark {
    background-color: #F15F5C;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked ~ .checkmark:after {
    display: block;
}

.label .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.checkmark_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.label:hover input ~ .checkmark_checkbox {
    background-color: #ccc;
}

.label input:checked ~ .checkmark_checkbox {
    background-color: #F15F5C;
}

.checkmark_checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked ~ .checkmark_checkbox:after {
    display: block;
}

.label .checkmark_checkbox:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.price_slider {
    padding-right: 40px;
}

.price_slider > div > span {
    display: none;
}

.price_slider > div > div > div {
    background: #F15F5C !important;
}

.price_slider > div > div > span > div {
    background: #F15F5C !important;
    border-color: #F15F5C !important;
}