.grid {
    margin-bottom: 200px;
    grid-area: content;
    padding: 35px 50px 25px 25px;
}

.items_block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
}

.empty_list {
    padding: 80px 45px;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .grid {
        padding: 0 35px;
    }
    .items_block {
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}