.item img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.item {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.item p {
    font-weight: bold;
    margin: 8px 15px;
}

.item_info {
    display: flex;
    justify-content: space-between;
}

.box_shadow {
    -webkit-box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
    -moz-box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
    box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
}

.star {
    position: relative;
    color: #333;
}

.money {
    position: relative;
    color: #333;
}

.money:before {
    font-family: FontAwesome;
    content: '\f155';
    padding-left: 2px;
}

.star:before {
    font-family: FontAwesome;
    content: '\f006';
    padding-right: 2px;
}

.star_checked:before {
    content: '\f005';
    color: #F15F5C;
}