.item img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.item {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.box_shadow {
    -webkit-box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
    -moz-box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
    box-shadow: 0 1px 6px 0 rgba(133, 123, 123,0.75);
}