.grid {
    float: left;
    width: 80%;
    margin-bottom: 200px;
}

.items_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 25px;
}

.empty_list {
    padding: 80px 45px;
}